* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body { 
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#area {
    height: 200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    user-select: none;
    cursor: pointer;
}